<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deepika.restaurantapp">
    <application
        android:allowBackup="true"
            android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/rest"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name=".Home" />
        <activity android:name=".Receipes"/>
        <activity android:name=".Starters"/>
            <activity android:name="com.example.deepika.restaurantapp.Crab"/>
            <activity android:name="com.example.deepika.restaurantapp.Sushi"/>
            <activity android:name="com.example.deepika.restaurantapp.Razor"/>
            <activity android:name="com.example.deepika.restaurantapp.PrawCock"/>
            <activity android:name="com.example.deepika.restaurantapp.Sprontart"/>
            <activity android:name="com.example.deepika.restaurantapp.Borsch"/>
            <activity android:name="com.example.deepika.restaurantapp.Pinwheels"/>
            <activity android:name="com.example.deepika.restaurantapp.Vegtart"/>
            <activity android:name="com.example.deepika.restaurantapp.Quiche"/>
            <activity android:name="com.example.deepika.restaurantapp.Bruscht"/>
        <activity android:name=".Vegetarian"/>
            <activity android:name="com.example.deepika.restaurantapp.Summery"/>
            <activity android:name="com.example.deepika.restaurantapp.Vegchilli"/>
            <activity android:name="com.example.deepika.restaurantapp.Spicycauroast"/>
            <activity android:name="com.example.deepika.restaurantapp.Crispswtpot"/>
            <activity android:name="com.example.deepika.restaurantapp.Garthyme"/>
            <activity android:name="com.example.deepika.restaurantapp.Kidney"/>
            <activity android:name="com.example.deepika.restaurantapp.Lentils"/>
            <activity android:name="com.example.deepika.restaurantapp.Pestopiz"/>
            <activity android:name="com.example.deepika.restaurantapp.Chickpea"/>
            <activity android:name="com.example.deepika.restaurantapp.Samosa"/>
            <activity android:name="com.example.deepika.restaurantapp.Falafel"/>
            <activity android:name="com.example.deepika.restaurantapp.Spiralpie"/>
            <activity android:name="com.example.deepika.restaurantapp.Tortilla"/>
        <activity android:name=".Sea"/>
            <activity android:name="com.example.deepika.restaurantapp.Fideua"/>
            <activity android:name="com.example.deepika.restaurantapp.Koreanclambroth"/>
            <activity android:name="com.example.deepika.restaurantapp.Crabmac"/>
            <activity android:name="com.example.deepika.restaurantapp.Classicprawn"/>
            <activity android:name="com.example.deepika.restaurantapp.Mussel"/>
            <activity android:name="com.example.deepika.restaurantapp.Codchor"/>
            <activity android:name="com.example.deepika.restaurantapp.Chowder"/>
            <activity android:name="com.example.deepika.restaurantapp.Superprawn"/>
            <activity android:name="com.example.deepika.restaurantapp.Tikkafish"/>
        <activity android:name=".Fish"/>
            <activity android:name="com.example.deepika.restaurantapp.Coconutfish"/>
            <activity android:name="com.example.deepika.restaurantapp.Paella"/>
            <activity android:name="com.example.deepika.restaurantapp.Mediter"/>
            <activity android:name="com.example.deepika.restaurantapp.Seaital"/>
            <activity android:name="com.example.deepika.restaurantapp.Fishsoup"/>
            <activity android:name="com.example.deepika.restaurantapp.Fennel"/>
            <activity android:name="com.example.deepika.restaurantapp.Fishpie"/>
            <activity android:name="com.example.deepika.restaurantapp.Salmon"/>
            <activity android:name="com.example.deepika.restaurantapp.Fishfinger"/>
        <activity android:name=".Prawn"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnkatsu"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnpizza"/>
            <activity android:name="com.example.deepika.restaurantapp.Easythai"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnsoup"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnspirroll"/>
            <activity android:name="com.example.deepika.restaurantapp.Leekgratin"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnpopa"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnrisot"/>
            <activity android:name="com.example.deepika.restaurantapp.Frittata"/>
            <activity android:name="com.example.deepika.restaurantapp.Prawnpancetta"/>
        <activity android:name=".Egg"/>
            <activity android:name="com.example.deepika.restaurantapp.Chorizo"/>
            <activity android:name="com.example.deepika.restaurantapp.Florentine"/>
            <activity android:name="com.example.deepika.restaurantapp.Eggcust"/>
            <activity android:name="com.example.deepika.restaurantapp.Scotchegg"/>
            <activity android:name="com.example.deepika.restaurantapp.Sonegg"/>
            <activity android:name="com.example.deepika.restaurantapp.Ovenegg"/>
            <activity android:name="com.example.deepika.restaurantapp.Anytime"/>
            <activity android:name="com.example.deepika.restaurantapp.Eggcurry"/>
            <activity android:name="com.example.deepika.restaurantapp.Benedict"/>
            <activity android:name="com.example.deepika.restaurantapp.Tiffin"/>
        <activity android:name=".Chettinad"/>
            <activity android:name="com.example.deepika.restaurantapp.Pepperchick"/>
            <activity android:name="com.example.deepika.restaurantapp.Twelspice"/>
            <activity android:name="com.example.deepika.restaurantapp.Eggmasala"/>
            <activity android:name="com.example.deepika.restaurantapp.Rasam"/>
            <activity android:name="com.example.deepika.restaurantapp.Kulambu"/>
            <activity android:name="com.example.deepika.restaurantapp.Mutton"/>
            <activity android:name="com.example.deepika.restaurantapp.Eralthokku"/>
            <activity android:name="com.example.deepika.restaurantapp.Uppuvaruval"/>
            <activity android:name="com.example.deepika.restaurantapp.Nandu"/>
            <activity android:name="com.example.deepika.restaurantapp.Crabkurma"/>
            <activity android:name="com.example.deepika.restaurantapp.Sura"/>
        <activity android:name=".Chicken"/>
            <activity android:name="com.example.deepika.restaurantapp.Citruschick"/>
            <activity android:name="com.example.deepika.restaurantapp.Bangbang"/>
            <activity android:name="com.example.deepika.restaurantapp.Traybake"/>
            <activity android:name="com.example.deepika.restaurantapp.Cashewchick"/>
            <activity android:name="com.example.deepika.restaurantapp.Chickwraps"/>
            <activity android:name="com.example.deepika.restaurantapp.Onepot"/>
            <activity android:name="com.example.deepika.restaurantapp.Sprroastchick"/>
            <activity android:name="com.example.deepika.restaurantapp.Korma"/>
            <activity android:name="com.example.deepika.restaurantapp.Mushchick"/>
            <activity android:name="com.example.deepika.restaurantapp.Pharmiagiana"/>
                <activity android:name=".Noodles"/>
            <activity android:name="com.example.deepika.restaurantapp.Thaipesto"/>
            <activity android:name="com.example.deepika.restaurantapp.Chickennood"/>
            <activity android:name="com.example.deepika.restaurantapp.Turkeysing"/>
            <activity android:name="com.example.deepika.restaurantapp.Crunchprawn"/>
            <activity android:name="com.example.deepika.restaurantapp.Salmonnoodsoup"/>
            <activity android:name="com.example.deepika.restaurantapp.Speednoodsoup"/>
            <activity android:name="com.example.deepika.restaurantapp.Noodbroth"/>
            <activity android:name="com.example.deepika.restaurantapp.Thaichick"/>
            <activity android:name="com.example.deepika.restaurantapp.Leekpot"/>
            <activity android:name="com.example.deepika.restaurantapp.Crabnoodle"/>
        <activity android:name=".Tandoori"/>
            <activity android:name="com.example.deepika.restaurantapp.Tandmush"/>
            <activity android:name="com.example.deepika.restaurantapp.Paratha"/>
            <activity android:name="com.example.deepika.restaurantapp.Tavachana"/>
            <activity android:name="com.example.deepika.restaurantapp.Friedmush"/>
            <activity android:name="com.example.deepika.restaurantapp.Dahimurga"/>
            <activity android:name="com.example.deepika.restaurantapp.Panpapdi"/>
            <activity android:name="com.example.deepika.restaurantapp.Babypako"/>
            <activity android:name="com.example.deepika.restaurantapp.Rajma"/>
            <activity android:name="com.example.deepika.restaurantapp.Marinated"/>
                <activity android:name=".Desserts"/>
            <activity android:name=".Fresh"/>
            <activity android:name="com.example.deepika.restaurantapp.Sugarcane"/>
            <activity android:name="com.example.deepika.restaurantapp.Grape"/>
            <activity android:name="com.example.deepika.restaurantapp.Orange"/>
            <activity android:name="com.example.deepika.restaurantapp.Apple"/>
            <activity android:name="com.example.deepika.restaurantapp.Muskmelon"/>
            <activity android:name="com.example.deepika.restaurantapp.Goose"/>
            <activity android:name="com.example.deepika.restaurantapp.Pomegranate"/>
            <activity android:name="com.example.deepika.restaurantapp.Mangojuice"/>
            <activity android:name="com.example.deepika.restaurantapp.Custard"/>
        <activity android:name=".Milk"/>
            <activity android:name="com.example.deepika.restaurantapp.Vanshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Strawshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Mixberryshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Chocoblendshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Peanutshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Yogurtshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Nutelshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Mexchoshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Chococashshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Maltshake"/>
            <activity android:name="com.example.deepika.restaurantapp.Triplechocshake"/>
        <activity android:name=".Cakes"/>
            <activity android:name="com.example.deepika.restaurantapp.Banana"/>
            <activity android:name="com.example.deepika.restaurantapp.Buttersccotcake"/>
            <activity android:name="com.example.deepika.restaurantapp.Velvet"/>
            <activity android:name="com.example.deepika.restaurantapp.Vanillacake"/>
            <activity android:name="com.example.deepika.restaurantapp.Chococake"/>
            <activity android:name="com.example.deepika.restaurantapp.Blakforest"/>
            <activity android:name="com.example.deepika.restaurantapp.Blackout"/>
            <activity android:name="com.example.deepika.restaurantapp.Buttercake"/>
        <activity android:name=".Ice"/>
            <activity android:name="com.example.deepika.restaurantapp.Vanillaice"/>
            <activity android:name="com.example.deepika.restaurantapp.Strawice"/>
            <activity android:name="com.example.deepika.restaurantapp.Chocoice"/>
            <activity android:name="com.example.deepika.restaurantapp.Buttice"/>
            <activity android:name="com.example.deepika.restaurantapp.Mangoice"/>
            <activity android:name="com.example.deepika.restaurantapp.Pista"/>
            <activity android:name="com.example.deepika.restaurantapp.Cookies"/>
            <activity android:name="com.example.deepika.restaurantapp.Blueberry"/>
        <activity android:name=".Falooda"/>
            <activity android:name="com.example.deepika.restaurantapp.Mangofal"/>
            <activity android:name="com.example.deepika.restaurantapp.Rosefaloo"/>
            <activity android:name="com.example.deepika.restaurantapp.Dryfruit"/>
            <activity android:name="com.example.deepika.restaurantapp.Jelly"/>
            <activity android:name="com.example.deepika.restaurantapp.Mixfruit"/>
            <activity android:name="com.example.deepika.restaurantapp.Parsi"/>
            <activity android:name="com.example.deepika.restaurantapp.Phirni"/>
            <activity android:name="com.example.deepika.restaurantapp.Kulfif"/>
            <activity android:name="com.example.deepika.restaurantapp.Zamali"/>
                <activity android:name=".Register"/>
        <activity android:name=".Privacy"/>
        <activity android:name=".About"/>
        </application>
</manifest>